---
layout: page
title: "About"
description: "In the middle of nowhere"
header-img: "img/geek.png"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 / English </option>
    <option value="1"> English / 中文 </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p><i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>略懂代码, 擅长攀岩,</br> 
        PUBG 合格快递员</p></blockquote>

    <p>爱好语言, 熟练掌握 English & Deutsch; 中等熟练掌握 Português (português brasileiro); </p>

    <p>电子 DIY: 遥控车, <s>炸弹</s>定时器, 充电宝, 收音机, 电子钟, etc.</p>
    
    <p>射箭, 抱石, 网球, 壁球; 喜中华田园猫 <i class="fas fa-stroopwafel fa-spin"></i> & 日本田园<i class="fas fa-dog fa-spin" style="color:yellow"></i> 
        
    <blockquote><p> 不会爬墙的程序猿不是好的 Polyglot? </p></blockquote>
   
    
    
 
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p><i class="fa fa-quote-left fa-2x fa-pull-left fa-border" aria-hidden="true"></i>Yet another dev</p></blockquote>

    <p>Hi, my name's <strong>Jin</strong>. </p>

    <p>I work with HTML, CSS, JavaScript, and Python to create beautiful, functional web pages.</p>
    
    <p>Working till I get to the point where I can put together all what I'm learning to good use - but for now, I'm having fun learning the basics!</p>
    
    <blockquote><p>Some say the world is big. Some say small.<br>
    I'd say that my world grows and becomes richer with every languages that I've learned<br> 
    - be it human languages or programming ones. </p></blockquote>

   
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %} 
